﻿@model IEnumerable<Vicaria.Domain.Entities.JornadaLaboral>
@{
    ViewBag.Title = "ListarJornadasLaborales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Jornadas Laborales</h2>

<p>
    @Html.ActionLink("Agregar", "CrearJornadaLaboral")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarJornadaLaboral", new { id = item.JornadaLaboralID }) |
                @Html.ActionLink("Borrar", "BorrarJornadaLaboral", new { id = item.JornadaLaboralID })
            </td>
        </tr>
    }

</table>