﻿@model IEnumerable<Vicaria.Domain.Entities.Tarea>

@{
    ViewBag.Title = "ListarTareas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tareas</h2>

<p>
    @Html.ActionLink("Agregar", "CrearTarea")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarTarea", new { id = item.TareaID }) |
                @Html.ActionLink("Borrar", "BorrarTarea", new { id = item.TareaID })
            </td>
        </tr>
    }

</table>
