﻿@model Vicaria.Domain.Entities.EstudioCursado
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Estudio Cursado</h3>
        <div class="alert alert-warning">Si presiona borrar, este Estudio Cursado será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarEstudioCursado", "Estudio"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.EstudioCursadoID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "EstudioCursadoID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListarEstudiosCursados", "Estudio")" class="btn">Cancelar y volver a listado de Estudios Cursados <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }


