﻿@model IEnumerable<Vicaria.Domain.Entities.EstudioCursado>

@{
    ViewBag.Title = "ListarEstudiosCursados";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Estudios Cursados</h2>

<p>
    @Html.ActionLink("Agregar", "CrearEstudiocursado")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarEstudioCursado", new { id = item.EstudioCursadoID }) |
                @Html.ActionLink("Borrar", "BorrarEstudioCursado", new { id = item.EstudioCursadoID })
            </td>
        </tr>
    }

</table>


