﻿@model Vicaria.Domain.Entities.TipoDeDocumento
@{
    ViewBag.Title = "BorrarDocumento";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Tipo de Documento</h3>
        <div class="alert alert-warning">Si presiona borrar, este tipo de documento será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarDocumento", "Documento"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.TipoDeDocumentoID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "TipoDeDocumentoID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListarDocumentos", "Documento")" class="btn">Cancelar y volver a listado de Documentos <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }



