﻿@model IEnumerable<Vicaria.Domain.Entities.TipoDeDocumento>
@{
    ViewBag.Title = "ListarDocumentos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ttiipos de Documentos</h2>

<p>
    @Html.ActionLink("Agregar", "CrearDocumento")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarDocumento", new { id = item.TipoDeDocumentoID }) |
                @Html.ActionLink("Borrar", "BorrarDocumento", new { id = item.TipoDeDocumentoID })
            </td>
        </tr>
    }

</table>