﻿﻿@model Vicaria.Domain.Entities.Oferta
@{
//ViewBag.Title = "Edición de " + @Model.Empleador.Apellido + ", " + @Model.Empleador.Nombre;
}
<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>

</div>
<div class="panel">
    <div class="panel-heading">
        <h3>Editar oferta de empleador</h3>
    </div>
    @using (Html.BeginForm("Editar", "Oferta"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.OfertaID)
            @Html.HiddenFor(m => m.EmpleadorID)
            @Html.HiddenFor(m => m.OfertaDesde)
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Vacantes)
                </dt>
                <dd>
                    <p>
                        @Html.TextBox("Vacantes", null, new { @class = "form-control", style = "width:500px;" })
                        @Html.ValidationMessageFor(model => model.Vacantes)
                    </p>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd>
                    <p>
                        @Html.DropDownList("CategoriaID", ViewBag.Categorias as SelectList)
                        @Html.ValidationMessageFor(model => model.Categoria)
                    </p>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Contratacion)
                </dt>
                <dd>
                    <p>
                        @Html.DropDownList("ContratacionID", ViewBag.Contrataciones as SelectList)
                        @Html.ValidationMessageFor(model => model.Contratacion)
                    </p>
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.JornadaLaboral)
                </dt>
                <dd>
                    <p>
                        @Html.DropDownList("JornadaLaboralID", ViewBag.Jornadas as SelectList)
                        @Html.ValidationMessageFor(model => model.JornadaLaboral)
                    </p>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tarea)
                </dt>
                <dd>
                    <p>
                        @Html.TextBox("Tarea", null, new { @class = "form-control", style = "width:500px;" })
                        @Html.ValidationMessageFor(model => model.Tarea)
                    </p>
                </dd>






                <dd>



                    <div class="col-md-offset-2 col-md-10">
                        <table>
                            <tr>
                                
                                @*@{
                                    int cnt = 0;
                                    List<Vicaria.WebUI.Models.TareasDeOfertaListViewModel> Tareas = ViewBag.Tareas;

                                    foreach (var tarea in Tareas)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                            @:</tr><tr>
                                    }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="TareasSeleccionadas"
                                                       value="@tarea.TareaID"
                                                       @(Html.Raw(tarea.Asignada ? "checked=\"checked\"" : "")) />
                                                @tarea.TareaID @: @tarea.Descripcion
                                            @:</td>
                                    }
                                    @:</tr>
                                }*@
                                @*@Html.ValidationMessageFor(model => model.Tarea)*@
                            </table>

                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.TextBox("Descripcion", null, new { @class = "form-control", style = "width:500px;" })
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EdadMin)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("EdadMin", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.EdadMin)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EdadMax)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("EdadMax", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.EdadMax)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EstudioCursado)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("EstudioCursadoID", ViewBag.Estudios as SelectList)
                            @Html.ValidationMessageFor(model => model.EstudioCursado)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </dt>
                    <dd>
                        @if (Model.Sexo == "Masculino")
            {
                <p>  @Html.RadioButton("Sexo", "Masculino", true) @Html.Label("Masculino")</p>
                <p>  @Html.RadioButton("Sexo", "Femenino", false) @Html.Label("Femenino")</p>
}
else
{
            <p>
                @Html.RadioButton("Sexo", "Masculino", false) @Html.Label("Masculino")
                @Html.RadioButton("Sexo", "Femenino", true) @Html.Label("Femenino")
            </p>
}
                        @Html.ValidationMessageFor(model => model.Sexo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Salario)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Salario", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Salario)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LugarDeTrabajo)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("LugarDeTrabajo", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.LugarDeTrabajo)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Horario)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Horario", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Horario)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contacto)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Contacto", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Contacto)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Celular)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Celular", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Celular)



                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextArea("Observacion", new { rows = 10, columns = 40, style = "width:400px;" })
                            @Html.ValidationMessageFor(model => model.Observacion)
                        </p>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OfertaActiva)
                    </dt>
                    <dd>
                        <p>
                            @if (Model.OfertaActiva)
                {
                    @Html.CheckBoxFor(m => m.OfertaActiva, new { @checked = Model.OfertaActiva })
    }
    else
    {
            @Html.CheckBoxFor(m => m.OfertaActiva)
}
                            @Html.ValidationMessageFor(model => model.OfertaActiva)
                        </p>
                    </dd>

                </dl>


</div>
<div class="panel-footer">


    <input type="submit" value="Grabar" class="btn btn-primary" />
    <a href="@Url.Action("ListaOfertas", "Oferta", new { id = Model.EmpleadorID, nombre = Model.Empleador.Apellido + ", " + Model.Empleador.Nombre })" class="btn">Cancelar y volver a ofertas de empleadores <span class="glyphicon glyphicon-user"></span></a>
</div>
}





