﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.EnlacesPosiblesListViewModel

@{
    ViewBag.Title = "Enlaces posibles de la oferta";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem -  Vicaría</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
        <li>
            @using (Html.BeginForm("List", "Postulante"))
            {
                <input type="submit" value="Postulantes" class="btn btn-success btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("List", "Empleador"))
            {
                <input type="submit" value="Empleadores" class="btn btn-primary btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("ListarEntrevistas", "Entrevista"))
            {
                <input type="submit" value="Entrevistas" class="btn btn-warning btn-lg" />
            }

        </li>
        <li>
            @using (Html.BeginForm("ListaOfertasEmpleador", "Oferta"))
            {
                @Html.Hidden("idEmpleador", Model.oferta.EmpleadorID );
                @Html.Hidden("nombre", Model.oferta.Empleador.Apellido);
                @Html.Hidden("page", Model.PagingInfo);
    <input type="submit" value="Lista de Ofertas" class="btn btn-primary btn-lg">
            }
            
        </li>
        
    </ul>

</div>


<h2>Listado de posibles enlaces para la oferta: @Html.DisplayFor(m => m.oferta.Categoria.Descripcion)</h2>
@*<a href="@Url.Action("Crear", "Oferta", new { idEmpleador = Model.idActual, nombreEmpleador = Model.nombreActual })" class="btn"><span class="glyphicon glyphicon-plus-sign"></span></a>*@
<table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Categoría</th>
            <th>Jornada</th>
            <th>Vacantes</th>
            <th>Postulante</th>
            <th>Empleador</th>
            <th>Acciones</th>
        </tr>
    @foreach (var busqueda in Model.busquedasPosibles)
    {
        <tr>
            <td>@Model.oferta.Categoria.Descripcion</td>
            <td>@Model.oferta.JornadaLaboral.Descripcion</td>
            <td>@Model.oferta.Vacantes</td>
            <td>@busqueda.Postulante.Apellido</td>
            <td>@Model.oferta.Empleador.Apellido</td>
            <td>
                <a href="@Url.Action("Detallar", "Postulante", new { id = busqueda.Postulante.PostulanteID, retorno = 1 })" class="btn" title="Ver detalle de Postulante"><span class="glyphicon glyphicon-user"></span></a> 
                <a href="@Url.Action("Detallar", "Empleador", new { id = Model.oferta.EmpleadorID, retorno = 1 })" class="btn" title="Ver detalle de Empleador"><span class="glyphicon glyphicon glyphicon-briefcase"></span></a> 
                <a href="@Url.Action("CrearEntrevista", "Oferta", new { idOferta = Model.oferta.OfertaID, idBusqueda = busqueda.BusquedaID })" class="btn" title="Generar enlace"><span class="glyphicon glyphicon-pushpin"></span></a>
            </td>
        </tr>
        
    }
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page= x}))
</div>

