﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.OfertasListViewModel

@{
    ViewBag.Title = "Ofertas  de Empledores";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
        <li>
            @using (Html.BeginForm("List", "Postulante"))
            {
                <input type="submit" value="Postulantes" class="btn btn-success btn-lg">
            }
            
        </li>
        <li>
            @using (Html.BeginForm("List", "Empleador"))
            {
                <input type="submit" value="Empleadores" class="btn btn-primary btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("ListarEntrevistas", "Entrevista"))
            {
                <input type="submit" value="Entrevistas" class="btn btn-warning btn-lg" />
            }

        </li>
        
    </ul>

</div>


<h2>Listado de ofertas de empleadores: @Html.DisplayFor(m => m.nombreActual)</h2>
<a href="@Url.Action("Crear", "Oferta", new { idEmpleador = Model.idActual, nombreEmpleador = Model.nombreActual })" class="btn"><span class="glyphicon glyphicon-plus-sign"></span></a>
@*<table class="table table-striped table-condensed table-bordered" >*@
<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Categoría</th>
            <th>Jornada</th>
            <th>Vacantes</th>
            <th>Oferta Desde</th>
            <th>Activa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oferta in Model.Ofertas)
    {
        <tr data-toggle="collapse" data-target="#@oferta.OfertaID" class="accordion-toggle">
            <td>@oferta.Categoria.Descripcion</td>
            <td>@oferta.JornadaLaboral.Descripcion</td>
            <td>@oferta.Vacantes</td>
            <td>@oferta.OfertaDesde.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="display-label" style="font-weight: normal">
                    @if (oferta.OfertaActiva)
                {
                    <p>Si</p>
            }
            else
            {
                <p>No</p>
        }

                </div>



            </td>

            <td>
                <a href="@Url.Action("Editar", "Oferta", new { id = oferta.OfertaID })" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
                @*<a href="@Url.Action("Borrar", "Busqueda", new { id = busqueda.BusquedaID })" class="btn"><span class="glyphicon glyphicon-remove-circle"></span></a>*@
                @if (oferta.OfertaActiva)
            {
                <a href="@Url.Action("Enlazar", "Oferta", new { id = oferta.OfertaID })" class="btn" title="Generar enlace"><span class="glyphicon glyphicon-magnet"></span></a>
        }
        else
        {
            <a href="@Url.Action("Enlazar", "Oferta", new { id = oferta.OfertaID })" class="btn" title="Generar enlace" disabled><span class="glyphicon glyphicon-magnet"></span></a>
    }

            </td>
        </tr>
        <tr>
            <td colspan="5" class="hiddenRow">
                <div class="accordian-body collapse" id="@oferta.OfertaID">
                    @if (oferta.Entrevistas.Count() == 0)
        {
            <p class="text-danger">No hay datos de entrevistas para esta oferta</p>
}
else
{
            <table class="table table-inverse">

                <thead>
                    <tr>
                        <th class="alert-info">Apellido</th>
                        <th class="alert-info">Nombre</th>
                        <th class="alert-info">DNI</th>
                        <th class="alert-info">Teléfono</th>
                        <th class="alert-info">Celular</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in oferta.Entrevistas)
        {
                    <tr>
                        <td class="text-primary">
                            @e.Postulantes.Apellido

                        </td>
                        <td class="text-primary">
                            @e.Postulantes.Nombre
                        </td>
                        <td class="text-primary">
                            @e.Postulantes.Documento
                        </td>
                        <td class="text-primary">
                            @e.Postulantes.Telefono
                        </td>
                        <td class="text-primary">
                            @e.Postulantes.Celular
                        </td>

                    </tr>

}
                </tbody>
            </table>
}
                </div>
            </td>
        </tr>
                
                }
    </tbody>
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page= x}))
</div>

