﻿@model Vicaria.Domain.Entities.Busqueda
@{
    ViewBag.Title = "Borrar " + @Model.Categoria + " " + @Model.JornadaLaboral;
    //Layout = null;
}



<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Búsqueda de Postulante </h3>
        <div class="alert alert-warning">Si presiona borrar, esta búsqueda será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("Borrar", "Busqueda"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.BusquedaID)


            
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "BusquedaID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Categoria")
                        {
                            @Html.TextBoxFor(m => m.Categoria.Descripcion, null, new { @class = "form-control" })
                        }
                        else if (property.PropertyName == "JornadaLaboral")
                        {
                            @Html.TextBoxFor(m => m.JornadaLaboral.Descripcion, null, new { @class = "form-control" })
                        }
                        else if (property.PropertyName == "Postulante")
                        {
                            @Html.TextBoxFor(m => m.Postulante.Apellido, null, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListaBusquedas", "Busqueda",  new { id = Model.PostulanteID, nombre = Model.Postulante.Apellido, page = 1 })" class="btn">Cancelar y volver a búsquedas <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }
