﻿@model Vicaria.Domain.Entities.Busqueda
@{
    //ViewBag.Title = "Edición de " + @Model.Postulante.Apellido + ", " + @Model.Postulante.Nombre;
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>


</div>

<div class="panel">
    <div class="panel-heading">
        <h3>Editar búsqueda de postulante :  @*@Model.Postulante.Apellido,  @Model.Postulante.Nombre*@</h3>
    </div>
    @using (Html.BeginForm("Editar","Busqueda"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.BusquedaID)
            @Html.HiddenFor(m => m.PostulanteID)
            @Html.HiddenFor(m => m.BuscaDesde)
            @Html.HiddenFor(m => m.Postulante)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "PostulanteID"
                    && property.PropertyName != "BusquedaID"
                    && property.PropertyName != "CategoriaID"
                    && property.PropertyName != "JornadaLaboralID"
                    && property.PropertyName != "BuscaDesde"
                    && property.PropertyName != "Postulante"
                    )
                {
                   <div class="form-group">
            
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                       
            
            @switch (property.PropertyName)
            {
                
                case "Categoria":
                    @Html.DropDownList("CategoriaID", ViewBag.Categorias as SelectList);
                    @Html.ValidationMessageFor(model => model.CategoriaID)
                                                                                                                   break;

                case "JornadaLaboral":
                    @Html.DropDownList("JornadaLaboralID", ViewBag.Jornadas as SelectList);
                    @Html.ValidationMessageFor(model => model.JornadaLaboralID)
                                                                                                                            break;
                case "BusquedaActiva":
                    @*@Html.CheckBoxFor(m =>m.BusquedaActiva);*@
                    @*@Html.CheckBox(property.PropertyName);*@
                    <label>@Html.RadioButton(property.PropertyName, true)Activa</label>
                    <label>@Html.RadioButton(property.PropertyName, false)Cerrada</label>
                                                         break;
                default:
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control", style = "width:500px;"});
                    break;
            }
            @Html.ValidationMessage(property.PropertyName)
        
    </div>
                }
            }
        </div>
        <div class="panel-footer">
            
            
            <input type="submit" value="Grabar"  class="btn btn-primary" />
            <a href="@Url.Action("ListaBusquedas", "Busqueda", new { id = Model.PostulanteID, nombre = ViewBag.Nombre })" class="btn">Cancelar y volver a búsquedas de postulantes <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }

        
        
        




