﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.BusquedasListViewModel

@{
    ViewBag.Title = "Busquedas de Empledores";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría Devoto</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
        <li>
            @using (Html.BeginForm("List", "Postulante"))
            {
                <input type="submit" value="Postulantes" class="btn btn-success btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("List", "Empleador"))
            {
                <input type="submit" value="Empleadores" class="btn btn-primary btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("ListarEntrevistas", "Entrevista"))
            {
                <input type="submit" value="Entrevistas" class="btn btn-warning btn-lg" />
            }

        </li>

    </ul>

</div>


<h2>Listado de búsquedas de postulante: @Html.DisplayFor(m => m.nombreActual)</h2>
<a href="@Url.Action("Crear", "Busqueda", new { idPostulante = Model.idActual, nombrePostulante = Model.nombreActual })" class="btn"><span class="glyphicon glyphicon-plus-sign"></span></a>
<table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Categoría</th>
            <th>Jornada</th>
            <th>Busca Desde</th>
            <th>Búsqueda Activa</th>
            <th>Acciones</th>
        </tr>
    @foreach (var busqueda in Model.busquedas)
    {
        <tr>
            <td>@busqueda.Categoria.Descripcion</td>
            <td>@busqueda.JornadaLaboral.Descripcion</td>
            <td>@busqueda.BuscaDesde.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="display-label" style="font-weight: normal">
                    @if (busqueda.BusquedaActiva)
                    {
                        <p>Si</p>
                    }
                    else
                    {
                        <p>No</p>
                    }

                </div>
            </td>
            
            <td>
                <a href="@Url.Action("Editar", "Busqueda", new { id = busqueda.BusquedaID })" class="btn"><span class="glyphicon glyphicon-pencil"></span></a> 
                @*<a href="@Url.Action("Borrar", "Busqueda", new { id = busqueda.BusquedaID })" class="btn"><span class="glyphicon glyphicon-remove-circle"></span></a>*@ 
            </td>
        </tr>
        
    }
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page= x}))
</div>

