﻿@model Vicaria.Domain.Entities.GrupoFamiliar


@{
    ViewBag.Title = "BorrarGrupoFamiliar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Grupo Familiar</h3>
        <div class="alert alert-warning">Si presiona borrar, este Grupo Familiar será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarGrupoFamiliar", "GrupoFamiliar"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.GrupoFamiliarId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "GrupoFamiliarId")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListarGruposFamiliares", "GrupoFamiliar")" class="btn">Cancelar y volver a listado de Grupos Familiares <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }

