﻿@model IEnumerable<Vicaria.Domain.Entities.GrupoFamiliar>

@{
    ViewBag.Title = "ListarGruposFamiliares";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ListarGruposFamiliares</h2>

<p>
    @Html.ActionLink("Agregar", "CrearGrupoFamiliar")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarGrupoFamiliar", new { id = item.GrupoFamiliarId }) |
                @Html.ActionLink("Borrar", "BorrarGrupoFamiliar", new { id = item.GrupoFamiliarId })
            </td>
        </tr>
    }

</table>


