﻿@model Vicaria.Domain.Entities.EstadoCivil
@{
    ViewBag.Title = "BorrarEstadoCivil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Estado Civil</h3>
        <div class="alert alert-warning">Si presiona borrar, este Estado civil será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarEstadoCivil", "EstadoCivil"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.EstadoCivilID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "EstadoCivilID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                       @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                       @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("Index", "Admin")" class="btn">Cancelar y volver a listado de Estados civiles <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }

