﻿@model Vicaria.Domain.Entities.EstadoCivil
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h1>Edición de Estado Civil</h1>
    </div>
    @using (Html.BeginForm("EditarEstadoCivil", "EstadoCivil" ) )
    {
        @Html.HiddenFor(m => m.EstadoCivilID)
        <div class="panel-body">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "EstadoCivilID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Grabar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar y volver al listado", "Index")
        </div>
    }
</div>


