﻿@model IEnumerable<Vicaria.Domain.Entities.EstadoCivil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Estado Civil</h2>

<p>
    @Html.ActionLink("Agregar", "CrearEstadoCivil")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarEstadoCivil", new { id = item.EstadoCivilID }) |
            @Html.ActionLink("Borrar", "BorrarEstadoCivil", new { id = item.EstadoCivilID })
        </td>
    </tr>
}

</table>
