﻿@model Vicaria.Domain.Entities.Categoria
@{
    ViewBag.Title = "BorrarCategoria";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Categoria</h3>
        <div class="alert alert-warning">Si presiona borrar, este tipo de categoría será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarCategoria", "Categoria"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.CategoriaID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "CategoriaID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListarCategorias", "Categoria")" class="btn">Cancelar y volver a listado de Categorias <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }



