﻿@model Vicaria.Domain.Entities.Categoria
@{
    ViewBag.Title = "EditarCategoria";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h1>Edición de Categoria</h1>
    </div>
    @using (Html.BeginForm("EditarCategoria", "Categoria"))
    {
        @Html.HiddenFor(m => m.CategoriaID)
        <div class="panel-body">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "CategoriaID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Grabar" class="btn btn-primary" />
            @Html.ActionLink("Calelar y volver al listado", "ListarCategorias")
        </div>
    }
</div>

