﻿@model IEnumerable<Vicaria.Domain.Entities.Categoria>
@{
    ViewBag.Title = "ListarCategorias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Agregar", "CrearCategoria")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarCategoria", new { id = item.CategoriaID }) |
                @Html.ActionLink("Borrar", "BorrarCategoria", new { id = item.CategoriaID })
            </td>
        </tr>
    }

</table>