﻿@model IEnumerable<Vicaria.Domain.Entities.Contratacion>

    @{
        ViewBag.Title = "ListarContrataciones";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <h2>Contrataciones</h2>

    <p>
        @Html.ActionLink("Agregar", "CrearContratacion")
    </p>
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarContratacion", new { id = item.ContratacionID }) |
                    @Html.ActionLink("Borrar", "BorrarContratacion", new { id = item.ContratacionID })
                </td>
            </tr>
        }

    </table>
