﻿@model Vicaria.Domain.Entities.Entrevista
@{
    //ViewBag.Title = "Edición de " + @Model.Postulante.Apellido + ", " + @Model.Postulante.Nombre;
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>


</div>

<div class="panel">
    <div class="panel-heading">
        <h3>Editar Entrevista</h3>
    </div>
    @using (Html.BeginForm("Editar","Entrevista"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.entrevistaID)
            @Html.HiddenFor(m => m.OfertaID)
            @Html.HiddenFor(m => m.BusquedaID)
            @Html.HiddenFor(m => m.fechaAlta)
            @Html.HiddenFor(m => m.Busqueda)
            @Html.HiddenFor(m => m.Oferta)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "entrevistaID"
                    && property.PropertyName != "OfertaID"
                    && property.PropertyName != "BusquedaID"
                    && property.PropertyName != "fechaAlta"
                    && property.PropertyName != "Busqueda"
                    && property.PropertyName != "Oferta"
                    
                    )
                {
                   <div class="form-group">
            
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                       
            
            @switch (property.PropertyName)
            {
                
                case "fechaEntrevista":
                   
                    @Html.EditorFor(model => model.fechaEntrevista)
                    break;

                case "Observaciones":
                    @Html.TextArea("Observaciones", new { rows = 10, columns = 40, style = "width:800px;" })
                    break;
                case "cubreVacante":
                    <label>@Html.RadioButton(property.PropertyName, true)Si</label>
                    <label>@Html.RadioButton(property.PropertyName, false)No</label>
                    break;
                default:
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control", style = "width:500px;"});
                    break;
            }
            @Html.ValidationMessage(property.PropertyName)
        
    </div>
                }
            }
        </div>
        <div class="panel-footer">
            
            
            <input type="submit" value="Grabar"  class="btn btn-primary" />
            <a href="@Url.Action("ListarEntrevistas", "Entrevista")" class="btn">Volver a Entrevistas <span class="glyphicon glyphicon-comment"></span></a>
        </div>
    }

        
        
        




