﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.EntrevistasListViewModel

@{
    ViewBag.Title = "Concertación de entrevistas";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
        <li>
            @using (Html.BeginForm("List", "Postulante"))
            {
                <input type="submit" value="Postulantes" class="btn btn-success btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("List", "Empleador"))
            {
                <input type="submit" value="Empleadores" class="btn btn-primary btn-lg">
            }

        </li>
       
    </ul>

</div>


<h2>Listado de Entrevistas</h2>
@*<a href="@Url.Action("Crear", "Oferta", new { idEmpleador = Model.idActual, nombreEmpleador = Model.nombreActual })" class="btn"><span class="glyphicon glyphicon-plus-sign"></span></a>*@
<table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Empleador</th>
            <th>Categoria</th>
            <th>Jornada</th>
            <th>Postulante</th>
            <th>Fecha</th>
            <th>Vacante Cubierta</th>
            <th>Acciones</th>
        </tr>
    @foreach (var entrevista in Model.entrevistas)
    {
        <tr>
            <td>@entrevista.Oferta.Empleador.Apellido</td>
            <td>@entrevista.Oferta.Categoria.Descripcion</td>
            <td>@entrevista.Oferta.JornadaLaboral.Descripcion</td>
            <td>@entrevista.Busqueda.Postulante.Apellido</td>
            
            <td>@entrevista.fechaEntrevista.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="display-label" style="font-weight: normal">
                    @if (entrevista.cubreVacante)
                    {
                        <p>Si</p>
                    }
                    else
                    {
                        <p>No</p>
                    }

                </div>
            </td>
            
            <td>
                <a href="@Url.Action("Editar", "Entrevista", new { id = entrevista.entrevistaID })" class="btn"><span class="glyphicon glyphicon-pencil"></span></a> 
                @*<a href="@Url.Action("Borrar", "Busqueda", new { id = busqueda.BusquedaID })" class="btn"><span class="glyphicon glyphicon-remove-circle"></span></a>*@ 
                @*<a href="@Url.Action("Enlazar", "Oferta", new { id = oferta.OfertaID })" class="btn" title="Generar enlace"><span class="glyphicon glyphicon-magnet"></span></a>*@
            </td>
        </tr>
        
    }
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page= x}))
</div>

