﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.EntrevistasListViewModel

@{
    ViewBag.Title = "Entrevistas vencidas";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
        <li>
            @using (Html.BeginForm("List", "Postulante"))
            {
                <input type="submit" value="Postulantes" class="btn btn-success btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("List", "Empleador"))
            {
                <input type="submit" value="Empleadores" class="btn btn-primary btn-lg">
            }

        </li>
       
    </ul>

</div>


<h2>Listado de Entrevistas Vencidas</h2>
<table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Empleador</th>
            <th>Categoria</th>
            <th>Teléfono</th>
            <th>Postulante</th>
            <th>Fecha</th>
            <th>Vacante Cubierta</th>
            <th>Acciones</th>
        </tr>
    @foreach (var entrevista in Model.entrevistas)
    {
        <tr>
            <td>@entrevista.Oferta.Empleador.Apellido</td>
            <td>@entrevista.Oferta.Categoria.Descripcion</td>
            <td>@entrevista.Oferta.Empleador.Telefono</td>
            <td>@entrevista.Busqueda.Postulante.Apellido</td>
            
            <td>@entrevista.fechaEntrevista.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="display-label" style="font-weight: normal">
                    @if (entrevista.cubreVacante)
                    {
                        <p>Si</p>
                    }
                    else
                    {
                        <p>No</p>
                    }

                </div>
            </td>
            
            <td>
                <a href="@Url.Action("Aprobar", "Entrevista", new { id = entrevista.entrevistaID })" class="btn" title="Marcar que cubre vacante"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                <a href="@Url.Action("Desaprobar", "Entrevista", new { id = entrevista.entrevistaID })" class="btn" title="Marcar que no cubre vacante"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                <a href="@Url.Action("Desctivar", "Oferta", new { id = entrevista.Oferta.OfertaID })" class="btn" title="Desactivar Oferta"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        
    }
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ListarEntrevistasVencidas", new { page= x}))
</div>

