﻿@model Vicaria.Domain.Entities.Oferta
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">CrisCarem - Vicaría de Devoto - @ViewBag.version </a>

    <a href="@Url.Action("Informacion", "Home")" class="btn" title="Información">
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>
</div>
<h2></h2>
<div class="jumbotron">



    <a href="Postulante/List" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-user"></span> Postulantes
    </a>
    <a href="Empleador/List" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon glyphicon-briefcase"></span> Empleadores
    </a>

    <a href="Entrevista/ListarEntrevistas" class="btn btn-warning btn-lg">
        <span class="glyphicon glyphicon-comment"></span> Entrevistas
    </a>


    <a href="Entrevista/ListarEntrevistasVencidas" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-calendar"></span> Entrevistas vencidas
    </a>
    <a href="EstadoCivil/Index" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-wrench"></span> Administración
    </a>


</div>


<div>
    <h2>Búsqueda de oferta laboral</h2>
    @using (Html.BeginForm("BuscarOfertas", "Oferta"))
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd>
                <p>
                    @Html.DropDownList("CategoriaID", ViewBag.Categorias as SelectList)
                    @Html.ValidationMessageFor(model => model.Categoria)
                </p>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JornadaLaboral)
            </dt>
            <dd>
                <p>
                    @Html.DropDownList("JornadaLaboralID", ViewBag.Jornadas as SelectList)
                    @Html.ValidationMessageFor(model => model.JornadaLaboral)
                </p>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd>

                <p>  @Html.RadioButton("Sexo", "Masculino", true) @Html.Label("Masculino")</p>
                <p>  @Html.RadioButton("Sexo", "Femenino", false) @Html.Label("Femenino")</p>


                @Html.ValidationMessageFor(model => model.Sexo)
            </dd>

        </dl>

        <input type="submit" value="Enviar Búsqueda" />
    }
</div>



