﻿
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">CrisCarem - Vicaría de Devoto - @ViewBag.version </a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
    </ul>
</div>
<h2></h2>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Versión</th>
        <th>Fecha</th>
        <th>Novedad</th>
    </tr>
    <tr>
        <th>2.0.0.06</th>
        <th>01/04/2018</th>
        <th>Se actualiza todo el sistema con búsquedas, profesionales y mayor navegabilidad</th>
    </tr>
    <tr>
        <th>1.0.0.6</th>
        <th>11/02/2016</th>
        <th>Se la pantalla amarilla en las ofertas laborales, se evita que se pierdan los ids de las referencias</th>
    </tr><tr>
        <th>1.0.0.5</th>
        <th>11/02/2016</th>
        <th>Se arregló el problema del paginado de las entrevistas</th>
    </tr>
    <tr>
        <th>1.0.0.4</th>
        <th>20/11/2015</th>
        <th>Se arregló el problema del imán desabilitado en empleadores (no permitía activar la oferta nuevamente)</th>
    </tr>
    <tr>
        <th>1.0.0.3</th>
        <th>19/11/2015</th>
        <th>Se agregó la capacidad de buscar por apellido Empleadores y Postulantes</th>
    </tr>
    <tr>
        <th>1.0.0.2</th>
        <th>12/11/2015</th>
        <th>Se muestran los teléfonos y celulares en la grilla de Empleadores y Postulantes</th>
    </tr>
    <tr>
        <th>1.0.0.1</th>
        <th>09/11/2015</th>
        <th>Información de versiones - Evita que se graben con registro vacío las búsquedas de postulantes</th>
    </tr>
   

    
</table>





