﻿@model Vicaria.Domain.Entities.Nacionalidad
@{
    ViewBag.Title = "BorrarNacionalidad";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Nacionalidad</h3>
        <div class="alert alert-warning">Si presiona borrar, esta nacionalidad será eliminada de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarNacionalidad", "Nacionalidad"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.NacionalidadID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "NacionalidadID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListarNacionalidades", "Nacionalidad")" class="btn">Cancelar y volver a listado de Nacionalidades <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }


