﻿@model IEnumerable<Vicaria.Domain.Entities.Nacionalidad>

@{
    ViewBag.Title = "ListarNacionalidades";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Nacionalidades</h2>

<p>
    @Html.ActionLink("Agregar", "CrearNacionalidad")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarNacionalidad", new { id = item.NacionalidadID }) |
                @Html.ActionLink("Borrar", "BorrarNacionalidad", new { id = item.NacionalidadID })
            </td>
        </tr>
    }

</table>
