﻿@model IEnumerable<Vicaria.Domain.Entities.Edad>

@{
    ViewBag.Title = "ListarEdades";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edades</h2>

<p>
    @Html.ActionLink("Agregar", "CrearEdad")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>@Html.DisplayNameFor(model => model.Hasta)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarEdad", new { id = item.EdadID }) |
                @Html.ActionLink("Borrar", "BorrarEdad", new { id = item.EdadID })
            </td>
        </tr>
    }

</table>
