﻿@model Vicaria.Domain.Entities.Postulante
@{
    ViewBag.Title = "Borrar " + @Model.Nombre + " " + @Model.Apellido;
    //Layout = null;
}



<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Postulante</h3>
        <div class="alert alert-warning">Si presiona borrar, este postulante será eliminado de la base de datos</div>
    </div>
    @using (Html.BeginForm("Borrar", "Postulante"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.PostulanteID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "PostulanteID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Busqueda")
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("List", "Postulante")" class="btn">Cancelar y volver a postulantes <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }
