﻿
@model Vicaria.Domain.Entities.Postulante
@{
    ViewBag.Title = "Edición de " + @Model.Nombre + " " + @Model.Apellido;
    //Layout = null;
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Vicaría de Devoto</a>


</div>

<div class="panel">
    <div class="panel-heading">
        <h3>Editar Postulante</h3>
    </div>
    
        <div class="panel-body">
           
              @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    if (property.PropertyName != "PostulanteID")
                    {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>

                        @switch (property.PropertyName)
                        {
                            case "Busqueda":
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 });
                                                                                                                      break;
                            case "EstadoCivil":
                            @Html.DropDownList("EstadoCivil", ViewBag.Lista as SelectList);
                                                                                              break;
                            case "TipoDeDocumento":
                            @Html.DropDownList("TipoDeDocumento", ViewBag.Documentos as SelectList);
                                                                                                       break;
                            case "Nacionalidad":
                            @Html.DropDownList("Nacionalidad", ViewBag.Nacionalidades as SelectList);
                                                                                                        break;
                            case "EstudiosCursados":
                            @Html.DropDownList("EstudiosCursados", ViewBag.Estudios as SelectList);
                                                                                                      break;
                            case "Provincia":
                            @Html.DropDownList("PRovincia", ViewBag.Provincias as SelectList);
                                                                                                 break;
                            case "GrupoFamilarConviviente":
                            @Html.DropDownList("GrupoFamilarConviviente", ViewBag.GruposFamiliares as SelectList);
                                                                                                                     break;
                            case "EspecializacionLaboral":
                            <p>  @Html.RadioButton("EspecializacionLaboral", "Si", false) @Html.Label("Si")</p>
                            <p>  @Html.RadioButton("EspecializacionLaboral", "No", true) @Html.Label("No")</p>
                                                                                                                     break;
                            case "FechaDeNacimiento":
                            <input class="datefield" data-val="true" data-val-required="La fecha es requerida"
                                   id="ReleaseDate" name="ReleaseDate" type="date" value="1/11/1989" />
                                                                                                                     break;
                            default:
                            //@Html.label(property.PropertyName, null, new { @class = "form-control" });
                            string campo = "Model." + property.PropertyName;
                            @Html.Label(campo, null, new { @class = "form-control" });
                                                                                                       break;
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">


            <a href="@Url.Action("List", "Postulante")" class="btn">Cancelar y volver a postulantes <span class="glyphicon glyphicon-user"></span></a>
        </div>
    
