﻿@model Vicaria.Domain.Entities.Postulante

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3>Detallar Postulante</h3>
    </div>
    <div class="panel-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoDeDocumento)

                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoDeDocumento.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Documento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaDeNacimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaDeNacimiento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nacionalidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nacionalidad.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstadoCivil)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstadoCivil.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Localidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Localidad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Provincia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Provincia.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Celular)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GrupoFamiliar)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GrupoFamiliar.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EspecializacionLaboral)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EspecializacionLaboral)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstudioCursado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstudioCursado.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DetalleDeEstudio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DetalleDeEstudio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ComoSeEntero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ComoSeEntero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Referencias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Referencias)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observaciones)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstudiosTerminados)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstudiosTerminados)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CV)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CV)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Idioma)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Idioma)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Informatica)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Informatica)
                </dd>

            </dl>
        </div>
    <div class="panel-footer">


        
        @{
            if (ViewBag.Retorno == 1)
            {
                <a class="bottomNav" onclick="history.go(-1); return false;" href="#" >Volver a posibles enlaces <span class="glyphicon glyphicon-bullhorn"></span></a>
            }
            else
            {
                <a href="@Url.Action("List", "Postulante")" class="btn">Volver a postulantes <span class="glyphicon glyphicon-user"></span></a>
            }

}
    </div>

