﻿@model Vicaria.Domain.Entities.Postulante
@{
    ViewBag.Title = "Edición de " + @Model.Nombre + " " + @Model.Apellido;
    //Layout = null;
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>


</div>

<div class="panel">
    <div class="panel-heading">
        <h3>Editar Postulante</h3>
    </div>
    @using (Html.BeginForm("Editar","Postulante"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.PostulanteID)
            @Html.HiddenFor(m => m.KeepAlive)
            @Html.HiddenFor(m => m.FechaAlta)

            <div class="dl-horizontal">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Nombre", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Apellido", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Apellido)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstadoCivil)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("EstadoCivilID", ViewBag.Lista as SelectList, "Seleccione un Estado")
                            @Html.ValidationMessageFor(model => model.EstadoCivilID)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.sexo)
                    </dt>
                    <dd>
                        @if (Model.sexo == "Masculino")
        {
                <p>  @Html.RadioButton("Sexo", "Masculino", true) @Html.Label("Masculino")</p>
                <p>
                    @Html.RadioButton("Sexo", "Femenino", false) @Html.Label("Femenino")
                </p>
}
else
{
                <p>
                    @Html.RadioButton("Sexo", "Masculino", false) @Html.Label("Masculino")
                    @Html.RadioButton("Sexo", "Femenino", true) @Html.Label("Femenino")
                </p>
}
                        @Html.ValidationMessageFor(model => model.sexo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoDeDocumento)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("TipoDeDocumentoID", ViewBag.Documentos as SelectList, "Seleccione un Documento")
                            @Html.ValidationMessageFor(model => model.TipoDeDocumento)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Documento)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Documento", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Documento)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaDeNacimiento)
                    </dt>
                    <dd>
                        <p>
                            @Html.EditorFor(model => model.FechaDeNacimiento)
                            @Html.ValidationMessageFor(model => model.FechaDeNacimiento)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Direccion", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Direccion)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Localidad)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Localidad", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Localidad)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Provincia)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("ProvinciaID", ViewBag.Provincias as SelectList, "Seleccione una Provincia")
                            @Html.ValidationMessageFor(model => model.Provincia)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nacionalidad)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("NacionalidadID", ViewBag.Nacionalidades as SelectList, "Seleccione una Nacionalidad")
                            @Html.ValidationMessageFor(model => model.Nacionalidad)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Telefono", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Telefono)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Celular)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Celular", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Celular)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mail)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Mail", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Mail)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GrupoFamiliar)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("GrupoFamiliarID", ViewBag.GruposFamiliares as SelectList, "Seleccione un Grupo Familar")
                            @Html.ValidationMessageFor(model => model.GrupoFamiliar)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EspecializacionLaboral)
                    </dt>
                    <dd>
                        <p>
                            @Html.RadioButton("EspecializacionLaboral", "Si", false) @Html.Label("Si")
                            @Html.RadioButton("EspecializacionLaboral", "No", true) @Html.Label("No")
                            @Html.ValidationMessageFor(model => model.EspecializacionLaboral)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstudioCursado)
                    </dt>
                    <dd>
                        <p>
                            @Html.DropDownList("EstudioCursadoID", ViewBag.Estudios as SelectList, "Seleccione un Nivel de Estudio")
                            @Html.ValidationMessageFor(model => model.EstudioCursado)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DetalleDeEstudio)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("DetalleDeEstudio", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.DetalleDeEstudio)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ComoSeEntero)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("ComoSeEntero", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.ComoSeEntero)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Referencias)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextArea("Referencias", new { rows = 10, columns = 40, style = "width:600px;" })
                            @Html.ValidationMessageFor(model => model.Referencias)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextArea("Observaciones", new { rows = 10, columns = 40, style = "width:600px;" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("Titulo", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.Titulo)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EstudiosTerminados)
                    </dt>
                    <dd>
                        <p>
                            <label>@Html.RadioButtonFor(model => model.EstudiosTerminados, true)Terminado</label>
                            <label>@Html.RadioButtonFor(model => model.EstudiosTerminados, false)No Terminado</label>

                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CV)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextBox("CV", null, new { @class = "form-control", style = "width:500px;" })
                            @Html.ValidationMessageFor(model => model.CV)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Idioma)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextArea("Idioma", new { rows = 10, columns = 40, style = "width:600px;" })
                            @Html.ValidationMessageFor(model => model.Idioma)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Informatica)
                    </dt>
                    <dd>
                        <p>
                            @Html.TextArea("Informatica", new { rows = 10, columns = 40, style = "width:600px;" })
                            @Html.ValidationMessageFor(model => model.Informatica)
                        </p>
                    </dd>
                </dl>

            </div>
</div>
        <div class="panel-footer">
            <input type="submit" value="Grabar"  class="btn btn-primary" />
            <a href="@Url.Action("List", "Postulante")" class="btn">Volver a postulantes <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }

        
        
        




