﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.PostulanteListViewModel

@{
    ViewBag.Title = "Postulantes";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
       
        <li>
            @using (Html.BeginForm("List", "Empleador"))
            {
                <input type="submit" value="Empleadores" class="btn btn-primary btn-lg">
            }

        </li>
        <li>
            @using (Html.BeginForm("ListarEntrevistas", "Entrevista"))
            {
                <input type="submit" value="Entrevistas" class="btn btn-warning btn-lg" />
            }

        </li>

    </ul>
</div>
<h2>Listado de postulantes</h2>

@*<a href="@Url.Action("Buscar", "Postulante")" class="btn-lg" title="Agregar Postulante"><span class="glyphicon glyphicon-search"></span></a>*@
@using (Html.BeginForm("Buscar", "Postulante"))
{
    


    <div class="dl-horizontal">
        <dt>
            <a href="@Url.Action("Crear", "Postulante")" class="btn-lg" title="Agregar Postulante">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <input type="submit" value="Buscar" title="Buscar Postulante por documento">
            </a>
        </dt>
        <dd>
            <p>
               @Html.TextBox("Busqueda", null, new { @class = "form-control", style = "width:200px;", Value = "" })
            </p>
        </dd>
    </div>
        }
        @*<table class="table table-striped table-condensed table-bordered">*@
    <table class="table table-condensed" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Búsqueda</th>
                <th>Ingresado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Postulantes)
        {
            <tr data-toggle="collapse" data-target="#@p.Documento" class="accordion-toggle">
                <td >@p.Nombre</td>
                <td >@p.Apellido</td>
                <td >
                    @if (p.Telefono != null && p.Celular != null)
                {
                    @("Fijo:" + p.Telefono + "  Cel:" + p.Celular);
            }
            else
            {
                if (p.Telefono != null && p.Celular == null)
                {
                    @("Fijo:" + p.Telefono)
            }
            else
            {
                if (p.Telefono == null && p.Celular != null)
                {
                    @("Cel:" + p.Celular)
            }
        }

    }
                </td>

                @if (p.Busquedas.Count == 0 || p.Busquedas.First().Categoria == null)
            {
                <td>Sin búsqueda</td>
        }
        else
        {
            <td>@p.Busquedas.First().Categoria.Descripcion</td>
    }
                <td>@p.FechaAlta.ToString("dd/MM/yyyy")</td>
                <td width="20%">

                    <a href="@Url.Action("Editar", "Postulante", new { id = p.PostulanteID })" class="btn" title="Editar"><span class="glyphicon glyphicon-pencil"></span> </a>
                    <a href="@Url.Action("Detallar", "Postulante", new { id = p.PostulanteID })" class="btn" title="Ver"><span class="glyphicon glyphicon-eye-open"></span></a>
                    @*<a href="@Url.Action("Borrar", "Postulante", new { id = p.PostulanteID })" class="btn"><span class="glyphicon glyphicon-remove-circle"></span></a>*@
                    <a href="@Url.Action("ListaBusquedas", "Busqueda", new { id = p.PostulanteID, nombre = p.Apellido+" "+p.Nombre })" class="btn" title="ir a Búsquedas"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="@Url.Action("ListarEntrevistasDePostulante", "Entrevista", new { idPostulante = p.PostulanteID })" class="btn" title="Entrevistas de postulante"><span class="glyphicon glyphicon-comment"></span></a>
                    <a href="@Url.Action("KeepAlive", "Postulante", new { id = p.PostulanteID })" class="btn" title="Mantener vivo"><span class="glyphicon glyphicon-heart"></span></a>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="hiddenRow">
                
                    <div class="accordian-body collapse" id="@p.Documento">
                        @if (p.Entrevistas.Count() == 0 )  {
                    <p class="text-danger">No hay datos de entrevistas para este postulante</p>
}
else
{
                    <table class="table table-inverse" >

                                <thead>
                                    <tr>
                                        <th class="alert-info">Categoría</th>
                                        <th class="alert-info">Jornada</th>
                                        <th class="alert-info">Vacantes</th>
                                        <th class="alert-info">Empleador</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var e in p.Entrevistas)
        {
                            <tr>
                                <td class="text-primary"   >
                                     @e.Oferta.Categoria.Descripcion
                                </td>
                                <td class="text-primary">
                                    @e.Oferta.JornadaLaboral.Descripcion
                                </td>
                                <td class="text-primary">
                                    @e.Oferta.Vacantes
                                </td>
                                <td class="text-primary">
                                    @e.Oferta.Empleador.Apellido,  @e.Oferta.Empleador.Nombre
                                </td>
                                
                            </tr>

}
                                </tbody>
                            </table>
}
                    </div>
                
                </td>
        </tr>
}
            </tbody>
        </table>

        <div>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>

