﻿@model Vicaria.Domain.Entities.Empleador

@{
    ViewBag.Title = "DetalleEmpleador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3>Detallar Empleador</h3>
    </div>
    <div class="panel-body">
        <hr />
        <dl class="dl-horizontal">
           

            

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Solicitante)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Solicitante)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoDeDocumento.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoDeDocumento.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Documento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RazonSocial)
            </dd>

            
            
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Localidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Localidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Provincia.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Provincia.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>

        </dl>
    </div>
    <div class="panel-footer">
        @{
            if (ViewBag.Retorno == 1)
            {
                <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Volver a posibles enlaces <span class="glyphicon glyphicon-bullhorn"></span></a>
            }
            else
            {
                <a href="@Url.Action("List", "Empleador")" class="btn">Volver a empleador <span class="glyphicon glyphicon-user"></span></a>
            }

}

       
    </div>
