﻿@model Vicaria.Domain.Entities.Empleador
@{
    ViewBag.Title = "Edición de " + @Model.Nombre + " " + @Model.Apellido;
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría de Devoto</a>


</div>

<div class="panel">
    <div class="panel-heading">
        <h3>Editar Empleador</h3>
    </div>
    @using (Html.BeginForm("Editar","Empleador"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.EmpleadorID)
            @Html.HiddenFor(m => m.keepAlive)
            @Html.HiddenFor(m => m.FechaAlta)

            <dl class="dl-horizontal">
                <dt>
                   @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    <p> @Html.TextBox("Nombre", Model.Nombre, new { @class = "form-control", style = "width:500px;" })
                        @Html.ValidationMessageFor(model => model.Nombre)</p> @*, required = "required"*@
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Apellido)*@
                    <p>@Html.TextBox("Apellido", Model.Apellido, new { @class = "form-control", style = "width:500px;"})
                        @Html.ValidationMessageFor(model => model.Apellido)                   
                    </p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoDeDocumento.Descripcion)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.TipoDeDocumento.Descripcion)*@
                    <p> @Html.DropDownList("TipoDeDocumentoID", ViewBag.Documentos as SelectList, "Seleccione un Documento")
                        @Html.ValidationMessageFor(model => model.TipoDeDocumento)
                    </p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Documento)*@
                    <p> @Html.TextBox("Documento", Model.Documento.ToString().Trim(), new { @class = "form-control", style = "width:500px;" })
                    @Html.ValidationMessageFor(model => model.Documento)</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Solicitante)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Solicitante)*@
                    <p> @Html.TextBox("Solicitante", Model.Solicitante, new { @class = "form-control", style = "width:500px;" })
                    @Html.ValidationMessageFor(model => model.Solicitante)</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RazonSocial)
                </dt>
                <dd>
                    
                    <p>
                        @Html.TextBox("RazonSocial", Model.RazonSocial, new { @class = "form-control", style = "width:500px;" })
                        @Html.ValidationMessageFor(model => model.RazonSocial)
                    </p>
                </dd>

                <dt>
                     @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Direccion)*@
                   <p> @Html.TextBox("Direccion", Model.Direccion, new { @class = "form-control", style = "width:500px;" })
                       @Html.ValidationMessageFor(model => model.Direccion)
                       </p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Localidad)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Localidad)*@
                    <p>@Html.TextBox("Localidad", Model.Localidad, new { @class = "form-control", style = "width:500px;" })
                    @Html.ValidationMessageFor(model => model.Localidad)</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Provincia)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Provincia.Nombre)*@
                    <p>@Html.DropDownList("ProvinciaID", ViewBag.Provincias as SelectList, "Seleccione una Provincia")
                    @Html.ValidationMessageFor(model => model.Provincia)</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Telefono)*@
                    <p> @Html.TextBox("Telefono", Model.Telefono, new { @class = "form-control", style = "width:500px;" })
                    @Html.ValidationMessageFor(model => model.Telefono)</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Celular)*@
                    <p>@Html.TextBox("Celular", Model.Celular, new { @class = "form-control", style = "width:500px;" })
                    @Html.ValidationMessageFor(model => model.Celular)</p>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Mail)*@
                    <p>@Html.TextBox("Mail", Model.Mail, new { @class = "form-control", style = "width:500px;" })
                    @Html.ValidationMessageFor(model => model.Mail)</p>
                </dd>

            </dl>

                    @*@foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        if (property.PropertyName != "EmpleadorID"
                            && property.PropertyName != "TipoDeDocumentoID"
                            && property.PropertyName != "TipoDeDocumento" //para que no repita el tipo de documento, lo pone cuando pone apellido
                            && property.PropertyName != "ProvinciaID"
                            // && property.PropertyName != "Provincia"//para que no repita la provincia, lo pone cuando pone localidad
                            // && property.PropertyName != "Busquedas" //para que no muestre las busquedas
                            )
                        {
                            <div class="form-group">

                                <label>@(property.DisplayName ?? property.PropertyName)</label>


                                @switch (property.PropertyName)
                                {
                                    case "Nombre":
                                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control", style = "width:500px;" });
                                <br />
                                                                                                                                       break;
                                    case "Apellido": //lo agrego solo para que se vea bien ordenado el tipo de documento que va desues de apellido
                                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control", style = "width:500px;" });
                                <br />
                                <label>Tipo de Documento</label>
                                @Html.DropDownList("TipoDeDocumentoID", ViewBag.Documentos as SelectList, "Seleccione un Documento");
                                                                                                                                break;


                                    case "Localidad":
                                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control", style = "width:500px;" });
                                <br />
                                                                                                                                   break;
                                    case "Provincia":

                                    @Html.DropDownList("ProvinciaID", ViewBag.Provincias as SelectList, "Seleccione una Provincia");
                                <br />

                                                                                                                               break;

                                    default:
                                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control", style = "width:500px;" });
                                                                                                                                   break;
                                }
                                @Html.ValidationMessage(property.PropertyName)

                            </div>
                        }
                    }*@
</div>
        <div class="panel-footer">
            
            
            <input type="submit" value="Grabar"  class="btn btn-primary" />
            <a href="@Url.Action("List", "Empleador")" class="btn">Cancelar y volver a Empleadores <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }

        
        
        




