﻿@using Vicaria.WebUI.HtmlHelpers;
@model Vicaria.WebUI.Models.EmpleadorListViewModel

@{
    ViewBag.Title = "Empleadores";
}

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Criscarem - Vicaría</a>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("Index", "Home"))
            {
                <input type="submit" value="Home" class="btn btn-default btn-lg ">
            }
        </li>
        <li>
            @using (Html.BeginForm("List", "Postulante"))
            {
                <input type="submit" value="Postulantes" class="btn btn-success btn-lg">
            }

        </li>
       
        <li>
            @using (Html.BeginForm("ListarEntrevistas", "Entrevista"))
            {
                <input type="submit" value="Entrevistas" class="btn btn-warning btn-lg" />
            }

        </li>

    </ul>

</div>

<h2>Listado de Empleadores</h2>
@*<a href="@Url.Action("Crear", "Empleador")" class="btn" title="Agregar Empleador"><span class="glyphicon glyphicon-plus-sign"></span></a>*@

@using (Html.BeginForm("Buscar", "Empleador"))
{



    <div class="dl-horizontal">
        <dt>
            <a href="@Url.Action("Crear", "Empleador")" class="btn" title="Agregar Empleador"><span class="glyphicon glyphicon-plus-sign"></span>
                <input type="submit" value="Buscar" title="Buscar Empleador por DNI o Apellido (deben coincidir maúsculas y minúsculas)">
            </a>
        </dt>
        <dd>
            <p>
                @Html.TextBox("Busqueda", null, new { @class = "form-control", style = "width:200px;", Value = "" })
            </p>
        </dd>
    </div>
}


<table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Solicitante</th>
            <th>Teléfono</th>
            <th>Ofrece</th>
            <th>Ingresado</th>
            <th>Acciones</th>
        </tr>
    @foreach (var p in Model.Empleadores)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Apellido</td>
            <td>@p.Solicitante</td>
            <td>
                @if (p.Telefono != null && p.Celular != null)
                {
                    @("Fijo:" + p.Telefono + "  Cel:" + p.Celular);
                }
                else
                {
                    if (p.Telefono != null && p.Celular == null)
                    {
                        @("Fijo:" + p.Telefono)
                    }
                    else
                    {
                        if (p.Telefono == null && p.Celular != null)
                        {
                            @("Cel:" + p.Celular)
                        }
                    }

                }

        </td>


            @if (p.Ofertas.Count == 0 || p.Ofertas.First().Categoria == null)
             {
            <td>Sin Oferta</td>
             }
             else
             {
            <td>@p.Ofertas.First().Categoria.Descripcion</td>
             }
            <td>@p.FechaAlta.ToString("dd/MM/yyyy")</td>
            @*<td>@p.Busquedas.First().Puesto</td>*@
            <td width="20%">
                <a href="@Url.Action("Editar", "Empleador", new { id = p.EmpleadorID })" class="btn" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a> 
                <a href="@Url.Action("Detallar", "Empleador", new { id = p.EmpleadorID })" class="btn" title="Ver"><span class="glyphicon glyphicon-eye-open"></span></a> 
                @*<a href="@Url.Action("Borrar", "Empleador", new { id = p.PostulanteID })" class="btn"><span class="glyphicon glyphicon-remove-circle"></span></a>*@ 
                <a href="@Url.Action("ListaOfertas", "Oferta", new { id = p.EmpleadorID, nombre = p.Apellido+" "+p.Nombre })" class="btn" title="Ofertas"><span class="glyphicon glyphicon-bullhorn"></span></a>
                <a href="@Url.Action("ListarEntrevistasDeEmpleador", "Entrevista", new { idEmpleador = p.EmpleadorID })" class="btn" title="Entrevistas del empleador"><span class="glyphicon glyphicon-comment"></span></a>
                <a href="@Url.Action("KeepAlive", "Empleador", new { id = p.EmpleadorID })" class="btn" title="Mantener vivo"><span class="glyphicon glyphicon-heart"></span></a>
                
            </td>
        </tr>
        
    }
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page= x}))
</div>

