﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Criscarem - Vicaría</a>
        <ul class="nav navbar-nav">
           
            <li>
                @using (Html.BeginForm("Index", "EstadoCivil"))
                {
                    <input type="submit" value="Estado Civil" class="btn btn-default navbar-btn">
                }
            </li> 
            
            <li>
                @using (Html.BeginForm("ListarEstudiosCursados", "Estudio"))
                {
                    <input type="submit" value="Estudio" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("ListarNacionalidades", "Nacionalidad"))
                {
                    <input type="submit" value="Nacionalidad" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("ListarProvincias", "Provincia"))
                {
                    <input type="submit" value="Provincia" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("ListarDocumentos", "Documento"))
                {
                    <input type="submit" value="Documento" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("ListarGruposFamiliares", "GrupoFamiliar"))
                {
                    <input type="submit" value="Grupo Familiar" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("ListarCategorias", "Categoria"))
                {
                    <input type="submit" value="Categoria" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("ListarJornadasLaborales", "JornadaLaboral"))
                {
                    <input type="submit" value="Jornada Laboral" class="btn btn-default navbar-btn">
                }
            </li>
            @*<li>
                @using (Html.BeginForm("ListarEdades", "Edad"))
                {
                    <input type="submit" value="Edades" class="btn btn-default navbar-btn">
                }
            </li>*@

            <li>
                @using (Html.BeginForm("ListarContrataciones", "Contratacion"))
                {
                    <input type="submit" value="Contratación" class="btn btn-default navbar-btn">
                }
            </li>
            <li>
                @using (Html.BeginForm("Index", "Home"))
                {
                    <input type="submit" value="Home" class="btn btn-default navbar-btn">
                }
            </li>
           
            
         </ul>

</div>
    
    

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    </div>
    <div>
        @RenderBody()
    </div>
       
    
    
    
    
    
</body>
</html>
