﻿@model Vicaria.Domain.Entities.Provincia
@{
    ViewBag.Title = "BorrarProvincia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Borrar Provincia</h3>
        <div class="alert alert-warning">Si presiona borrar, esta provincia será eliminada de la base de datos</div>
    </div>
    @using (Html.BeginForm("BorrarProvincia", "Provincia"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProvinciaId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ProvinciaId")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            <a href="@Url.Action("ListarProvincias", "Provincia")" class="btn">Cancelar y volver a listado de Provincias <span class="glyphicon glyphicon-user"></span></a>
        </div>
    }


