﻿@model IEnumerable<Vicaria.Domain.Entities.Provincia>
@{
    ViewBag.Title = "ListarProvincias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Provincias</h2>

<p>
    @Html.ActionLink("Agregar", "CrearProvincia")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarProvincia", new { id = item.ProvinciaId }) |
                @Html.ActionLink("Borrar", "BorrarProvincia", new { id = item.ProvinciaId })
            </td>
        </tr>
    }

</table>


